.login-container {
  width: 450px;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 15px var(--light-grey-color);
  border-radius: 5px;
}

.login-container .login-title {
  font-size: 26px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.login-container .login-register,
.login-container .login-more {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}

.login-container .login-register > span,
.login-container .login-remember > span{
    color:rgba(0, 0, 0, 0.6)
}

.login-container .login-more,
.login-container .login-remember
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container .login-more .remember-button{
    height: 20px;
}

.login-container .login-remember>span{
    margin-left: 5px;
}

.login-container .login-more .login-remember:hover {
  cursor: pointer;
}

.login-container .login-register a {
  margin-left: 5px;
}

.login-container .password-wrapper {
  position: relative;
}

.login-container .toggle-password {
  position: absolute;
  right: 2%;
  top: 40%;
  background-color: transparent;
  outline: none;
  border: none;
}

.login-container .toggle-password:hover {
  cursor: pointer;
}

.login-container .icon {
  width: 20px;
  height: 20px;
}

